.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.894043;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsd{letter-spacing:-3.706052px;}
.ls21{letter-spacing:-1.931639px;}
.ls24{letter-spacing:-1.689061px;}
.ls26{letter-spacing:-1.625272px;}
.ls20{letter-spacing:-1.602137px;}
.ls9{letter-spacing:-1.352147px;}
.ls1c{letter-spacing:-1.334179px;}
.ls7{letter-spacing:-1.215136px;}
.ls4{letter-spacing:-1.112939px;}
.ls25{letter-spacing:-1.042187px;}
.ls27{letter-spacing:-0.953017px;}
.ls2{letter-spacing:-0.923144px;}
.ls18{letter-spacing:-0.822070px;}
.ls15{letter-spacing:-0.813085px;}
.ls19{letter-spacing:-0.794892px;}
.ls23{letter-spacing:-0.778720px;}
.lsb{letter-spacing:-0.756933px;}
.ls5{letter-spacing:-0.745703px;}
.ls1f{letter-spacing:-0.728183px;}
.ls12{letter-spacing:-0.727734px;}
.ls17{letter-spacing:-0.718749px;}
.ls6{letter-spacing:-0.703027px;}
.ls14{letter-spacing:-0.682812px;}
.ls8{letter-spacing:-0.554785px;}
.ls1d{letter-spacing:-0.512334px;}
.ls10{letter-spacing:-0.503125px;}
.ls2b{letter-spacing:-0.489423px;}
.lsf{letter-spacing:-0.485156px;}
.ls28{letter-spacing:-0.476845px;}
.ls2d{letter-spacing:-0.430800px;}
.ls29{letter-spacing:-0.411484px;}
.lse{letter-spacing:-0.408789px;}
.ls3{letter-spacing:-0.379140px;}
.ls2c{letter-spacing:-0.369258px;}
.ls1a{letter-spacing:-0.367910px;}
.ls2a{letter-spacing:-0.358926px;}
.ls1{letter-spacing:-0.310410px;}
.ls2e{letter-spacing:-0.291094px;}
.ls22{letter-spacing:-0.274023px;}
.lsa{letter-spacing:-0.231347px;}
.ls1e{letter-spacing:-0.229775px;}
.ls11{letter-spacing:-0.103320px;}
.ls0{letter-spacing:0.005615px;}
.ls1b{letter-spacing:0.019990px;}
.ls13{letter-spacing:0.056152px;}
.ls16{letter-spacing:0.141504px;}
.lsc{letter-spacing:0.199902px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-4.184469px;}
.ws2{word-spacing:-4.085641px;}
.ws0{word-spacing:0.000000px;}
._0{width:1.419530px;}
._1{width:9.778362px;}
._2{width:39.785252px;}
.fc1{color:rgb(101,101,101);}
.fc2{color:rgb(255,62,108);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:33.691380px;}
.fs2{font-size:38.183564px;}
.fs1{font-size:44.921840px;}
.y22{bottom:19.653305px;}
.y21{bottom:29.199196px;}
.y20{bottom:38.745087px;}
.y1f{bottom:48.290978px;}
.y1e{bottom:57.836869px;}
.y1d{bottom:67.382760px;}
.y1c{bottom:86.474542px;}
.y0{bottom:99.000000px;}
.y6{bottom:99.319000px;}
.y1{bottom:99.319340px;}
.y1b{bottom:370.605180px;}
.y1a{bottom:395.312192px;}
.y19{bottom:420.019544px;}
.y18{bottom:444.726216px;}
.y10{bottom:482.895520px;}
.yf{bottom:495.529788px;}
.ye{bottom:508.164055px;}
.y17{bottom:518.847252px;}
.yd{bottom:520.798323px;}
.y16{bottom:530.639235px;}
.yc{bottom:533.432590px;}
.y15{bottom:542.992741px;}
.yb{bottom:546.066858px;}
.y14{bottom:555.346247px;}
.ya{bottom:558.701125px;}
.y13{bottom:567.699753px;}
.y9{bottom:571.335393px;}
.y12{bottom:580.053259px;}
.y8{bottom:583.969660px;}
.y7{bottom:594.653197px;}
.y11{bottom:596.337426px;}
.y5{bottom:647.997542px;}
.y4{bottom:658.104956px;}
.y3{bottom:668.212370px;}
.y2{bottom:678.319784px;}
.h3{height:24.544697px;}
.h6{height:24.561148px;}
.h8{height:27.835967px;}
.h5{height:32.726262px;}
.h7{height:32.748197px;}
.h2{height:722.680101px;}
.h4{height:722.681000px;}
.h1{height:723.000000px;}
.h0{height:842.000000px;}
.w2{width:574.999552px;}
.w1{width:575.000000px;}
.w0{width:595.000000px;}
.x8{left:3.930661px;}
.x0{left:10.000000px;}
.x9{left:14.599598px;}
.x5{left:19.605576px;}
.xa{left:26.391581px;}
.x6{left:321.191156px;}
.x7{left:330.737047px;}
.x2{left:427.880526px;}
.x3{left:433.495756px;}
.x4{left:468.871705px;}
.x1{left:507.616792px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsd{letter-spacing:-4.941402pt;}
.ls21{letter-spacing:-2.575519pt;}
.ls24{letter-spacing:-2.252082pt;}
.ls26{letter-spacing:-2.167030pt;}
.ls20{letter-spacing:-2.136183pt;}
.ls9{letter-spacing:-1.802863pt;}
.ls1c{letter-spacing:-1.778905pt;}
.ls7{letter-spacing:-1.620181pt;}
.ls4{letter-spacing:-1.483918pt;}
.ls25{letter-spacing:-1.389582pt;}
.ls27{letter-spacing:-1.270689pt;}
.ls2{letter-spacing:-1.230858pt;}
.ls18{letter-spacing:-1.096093pt;}
.ls15{letter-spacing:-1.084114pt;}
.ls19{letter-spacing:-1.059856pt;}
.ls23{letter-spacing:-1.038293pt;}
.lsb{letter-spacing:-1.009244pt;}
.ls5{letter-spacing:-0.994270pt;}
.ls1f{letter-spacing:-0.970911pt;}
.ls12{letter-spacing:-0.970312pt;}
.ls17{letter-spacing:-0.958333pt;}
.ls6{letter-spacing:-0.937369pt;}
.ls14{letter-spacing:-0.910416pt;}
.ls8{letter-spacing:-0.739713pt;}
.ls1d{letter-spacing:-0.683111pt;}
.ls10{letter-spacing:-0.670833pt;}
.ls2b{letter-spacing:-0.652565pt;}
.lsf{letter-spacing:-0.646874pt;}
.ls28{letter-spacing:-0.635794pt;}
.ls2d{letter-spacing:-0.574401pt;}
.ls29{letter-spacing:-0.548645pt;}
.lse{letter-spacing:-0.545052pt;}
.ls3{letter-spacing:-0.505520pt;}
.ls2c{letter-spacing:-0.492343pt;}
.ls1a{letter-spacing:-0.490546pt;}
.ls2a{letter-spacing:-0.478567pt;}
.ls1{letter-spacing:-0.413880pt;}
.ls2e{letter-spacing:-0.388125pt;}
.ls22{letter-spacing:-0.365364pt;}
.lsa{letter-spacing:-0.308463pt;}
.ls1e{letter-spacing:-0.306367pt;}
.ls11{letter-spacing:-0.137760pt;}
.ls0{letter-spacing:0.007487pt;}
.ls1b{letter-spacing:0.026654pt;}
.ls13{letter-spacing:0.074870pt;}
.ls16{letter-spacing:0.188672pt;}
.lsc{letter-spacing:0.266536pt;}
.ws1{word-spacing:-5.579293pt;}
.ws2{word-spacing:-5.447522pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.892707pt;}
._1{width:13.037815pt;}
._2{width:53.047003pt;}
.fs0{font-size:44.921840pt;}
.fs2{font-size:50.911419pt;}
.fs1{font-size:59.895787pt;}
.y22{bottom:26.204407pt;}
.y21{bottom:38.932261pt;}
.y20{bottom:51.660116pt;}
.y1f{bottom:64.387971pt;}
.y1e{bottom:77.115825pt;}
.y1d{bottom:89.843680pt;}
.y1c{bottom:115.299389pt;}
.y0{bottom:132.000000pt;}
.y6{bottom:132.425333pt;}
.y1{bottom:132.425787pt;}
.y1b{bottom:494.140240pt;}
.y1a{bottom:527.082923pt;}
.y19{bottom:560.026059pt;}
.y18{bottom:592.968288pt;}
.y10{bottom:643.860694pt;}
.yf{bottom:660.706384pt;}
.ye{bottom:677.552074pt;}
.y17{bottom:691.796336pt;}
.yd{bottom:694.397764pt;}
.y16{bottom:707.518980pt;}
.yc{bottom:711.243454pt;}
.y15{bottom:723.990321pt;}
.yb{bottom:728.089144pt;}
.y14{bottom:740.461663pt;}
.ya{bottom:744.934834pt;}
.y13{bottom:756.933004pt;}
.y9{bottom:761.780524pt;}
.y12{bottom:773.404345pt;}
.y8{bottom:778.626214pt;}
.y7{bottom:792.870929pt;}
.y11{bottom:795.116568pt;}
.y5{bottom:863.996723pt;}
.y4{bottom:877.473275pt;}
.y3{bottom:890.949827pt;}
.y2{bottom:904.426379pt;}
.h3{height:32.726262pt;}
.h6{height:32.748197pt;}
.h8{height:37.114623pt;}
.h5{height:43.635016pt;}
.h7{height:43.664262pt;}
.h2{height:963.573468pt;}
.h4{height:963.574667pt;}
.h1{height:964.000000pt;}
.h0{height:1122.666667pt;}
.w2{width:766.666069pt;}
.w1{width:766.666667pt;}
.w0{width:793.333333pt;}
.x8{left:5.240881pt;}
.x0{left:13.333333pt;}
.x9{left:19.466131pt;}
.x5{left:26.140767pt;}
.xa{left:35.188775pt;}
.x6{left:428.254875pt;}
.x7{left:440.982729pt;}
.x2{left:570.507368pt;}
.x3{left:577.994341pt;}
.x4{left:625.162273pt;}
.x1{left:676.822389pt;}
}
